html {
  color-scheme: dark;
  display: flex;
  justify-content: center;
}

div {
  margin-top: 2em;
  display: inline;
}

form {
  display: flex;
}

ul {
  padding-inline-start: 15px;
}

.notes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  align-items: center;
}
